.progress, sub, sup {
  vertical-align: baseline;
}

.block, .elem-left, .elem-right, article, aside, details, figcaption, figure, footer, header, hr, main, menu, nav, section, summary {
  display: block;
}

hr, sub, sup {
  position: relative;
}

body, figure {
  margin: 0;
}

button, hr, input, select {
  overflow: visible;
}

[type=checkbox], [type=radio], legend {
  box-sizing: border-box;
  padding: 0;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 100%;
}

audio, canvas, progress, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0 0 0.67em;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 60%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.45em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  box-sizing: content-box;
  height: 0;
  border: 0;
}

button, input, select, textarea {
  font: inherit;
  line-height: initial;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring, input:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

*, ::before, ::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

address {
  font-style: normal !important;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.icon-gplus:before {
  margin-left: -1px !important;
}

.page_index main, .page_index > hr {
  display: none !important;
}

a, ::before, ::after, img, figure, article, li, #fixed-tabs, #header, #banner, h1, h2, h3, h4, h5, h6, .btn, .btn-alt, .btn:before, .btn-alt:before {
  transition: all 0.2s;
}

i {
  display: inline;
}

*, ::before, ::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=" icon-"]:before, [class^=icon-]:before {
  line-height: 1 !important;
  display: block !important;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.shadow {
  box-shadow: 0 0 3px #000;
}

img {
  max-width: 100%;
}

a, .btn {
  cursor: pointer;
}

header {
  z-index: 99;
}

footer {
  z-index: 100;
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}
@keyframes slideIn {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.pulse {
  animation-name: pulse;
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.fadeIn {
  animation-name: fadeIn;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInLeft {
  animation-name: fadeInLeft;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInRight {
  animation-name: fadeInRight;
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeOut {
  animation-name: fadeOut;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.zoomIn {
  animation-name: zoomIn;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.slideInDown {
  animation-name: slideInDown;
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.slideInLeft {
  animation-name: slideInLeft;
}
@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.slideInRight {
  animation-name: slideInRight;
}
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.slideInUp {
  animation-name: slideInUp;
}
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.flex-ed, .col-flex-ed {
  display: flex;
}

.flex-ed {
  flex-direction: row;
}

.col-flex-ed {
  flex-flow: column;
}

star {
  line-height: 1.5;
  margin: 7px auto;
  display: block;
}

star:after {
  font-size: 26px;
  font-family: "fontello";
  font-weight: 400;
  margin: 0;
  font-style: normal;
  content: "\e80f\e80f\e80f\e80f\e80f";
  color: #fcd800;
  padding: 0 10px;
}

[class*=flex] {
  display: flex;
}

[class*=row] {
  flex-flow: row wrap;
}

/*========= 4. Youtube LazyLoad ==========*/
.youtube {
  position: relative;
  cursor: pointer;
  width: 100%;
  font-size: 0;
}

.youtube[class*=elem-] {
  width: 440px;
}

.youtube:before, .youtube:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.youtube:before {
  content: "";
  background-color: #fff;
  width: 40px;
  height: 40px;
}

.youtube:after {
  font-size: 70px;
  color: #4d4d4d;
  font-family: "fontello";
  font-weight: 400;
  margin: 0;
  font-style: normal;
  content: "\e80e";
}

.youtube:hover:after {
  color: #ff0000;
}

.youtube.active:before, .youtube.active:after {
  display: none;
}

[data-player], [data-vimeo], [data-embed] {
  position: relative;
}

[data-player] video, [data-vimeo] video, [data-embed] video {
  width: 100%;
}

[data-player][class^=elem] {
  position: relative;
  min-width: 460px;
}

/*for internal videos with close buttons */
.yt-play {
  cursor: pointer;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: #ff0000;
  font-family: "fontello";
  font-weight: 400;
  margin: 0;
  font-style: normal;
  content: "\e80e";
}

.yt-play:hover {
  color: #4d4d4d;
}

@font-face {
  font-family: "Recoleta";
  src: url("Recoleta-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ------------- Fixed Tabs -------------- */
#fixed-tabs {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  line-height: 1;
  z-index: 1000;
  display: flex;
}

#fixed-tabs a {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 0;
  flex: 0 1 25%;
}

#fixed-tabs .map {
  background-color: #000;
}

#fixed-tabs .call {
  background-color: #122039;
}

#fixed-tabs .ra {
  flex: 0 1 50%;
  background-color: #C6A35F;
}

#fixed-tabs .ra, #fixed-tabs .call, #fixed-tabs .map {
  color: #fff;
}

@media (min-width: 1031px) {
  #fixed-tabs {
    display: none;
  }
}
@media (max-width: 1030px) {
  #fixed-tabs i {
    display: inline-block;
    font-size: 16px;
    display: inline-block;
    margin-right: 5px;
  }
  footer {
    margin-bottom: 42px !important;
  }
}
@media (max-width: 600px) {
  #fixed-tabs strong {
    display: none;
  }
}
body {
  overflow-x: hidden;
  position: relative;
  background: #fff;
  text-align: center;
  color: #000;
  font: 400 18px/26px "Karla", sans-serif;
}

p {
  color: #000;
  font: 400 18px/1.6 "Karla", sans-serif;
  letter-spacing: 0.36px;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #122039;
}

a:hover {
  color: #122039;
}

h1, h2 h3, h4, h5, h6 {
  font-family: "Karla", sans-serif;
  text-align: center;
}

h1 {
  margin: 0;
  color: #122039;
  font: 400 50px/1.3 "Recoleta", serif;
  letter-spacing: 1.1px;
}

h1 small {
  font-size: 30px;
  letter-spacing: 0.75px;
}

h2 {
  font: normal 142px/1.1 "Recoleta", serif;
  color: #122039;
  margin: 10px 0;
}
h2.big {
  font-family: "Recoleta", serif;
  font-weight: normal;
  font-size: 137px;
  letter-spacing: -0.04em;
  color: #000;
}
h2 span {
  font-weight: 700;
  font-size: 88px;
}

h3, .h3 {
  font: 700 30px/1 "Recoleta", serif;
  color: #122039;
  margin: 15px auto 10px;
  letter-spacing: 0.75px;
}

main ul {
  list-style: none;
  padding: 0;
  margin: 10px auto;
  text-align: left;
  display: table;
}
main ul li {
  position: relative;
  padding-left: 35px;
  font-size: 24px;
  line-height: 1.2;
  margin: 10px auto;
}
main ul li:before {
  content: "\e832";
  font-family: fontello;
  position: absolute;
  left: 0;
  top: 0;
  color: #f8da24;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* ------------- Play Button -------------- */
.play {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #000;
  font: 700 15px/1 "Karla", sans-serif, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  transition: 0.3s all;
}

.play i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  color: #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 10px;
  transition: 0.3s all;
}

.play i:before {
  margin: auto;
  padding-left: 5px;
}

.play:hover {
  color: #122039;
}

.play:hover i {
  background-color: #122039;
  color: #fff;
}

/* ------------- Close Button -------------- */
[data-embed] .close, [data-vimeo] .close {
  cursor: pointer;
  line-height: 1;
  background-color: #C6A35F;
  color: #fff;
  padding: 8px;
  text-transform: uppercase;
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 160px;
}
[data-embed] .close i, [data-vimeo] .close i {
  font-style: normal;
  font-size: 1.25em;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 5px;
}
[data-embed] .close:focus, [data-vimeo] .close:focus {
  background-color: #b28b40;
}

[data-embed] .close:hover, [data-vimeo] .close:hover {
  background-color: #1b1b1b;
  color: #fff;
}

[data-embed] .close i:before {
  transform: rotate(45deg);
}

.btn, .btn-alt {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 15px 20px;
  text-align: center;
  color: #fff;
  background-color: #C6A35F;
  min-width: 250px;
  font: 700 13px/1.1 "Karla", sans-serif;
  border-radius: 6px;
  letter-spacing: 1.8px;
}
.btn span, .btn-alt span {
  display: block;
  font-size: 27px;
  letter-spacing: 2.9px;
  margin-bottom: 2px;
}
.btn:hover, .btn-alt:hover {
  background-color: #000;
  color: #fff;
}

header {
  position: relative;
  padding: 15px;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
}
header #nav a i {
  font-size: 20px;
  color: #fff;
}
header #nav a i:before {
  padding: 7px;
  width: 35px;
  height: 35px;
  background-color: #C6A35F;
  border-radius: 50%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
header #nav a.btn {
  padding: 5px 20px;
  border-radius: 40px;
  color: #fff;
  font-size: 24px;
  font-family: "Karla", sans-serif;
}
header #nav a.btn:hover {
  background-color: #122039;
}
header #nav a.btn i {
  color: #C6A35F;
}
header #nav a.btn i:before {
  background-color: #fff;
}
header #nav > * {
  display: flex;
  align-items: center;
  gap: 10px;
}
header #nav .logo {
  margin: 0;
}
header #nav address {
  text-align: center;
}
header #nav .phone {
  color: #000;
  font-size: 32px;
  font-weight: 600;
}
header #nav .phone:hover {
  color: #C6A35F;
}
header #nav .phy {
  font-size: 22px;
  color: #000;
  line-height: 1.26;
  font-weight: 400;
  letter-spacing: 0.47px;
}
header #nav .phy:hover {
  color: #C6A35F;
}
header #nav #mobile-btns {
  width: 100%;
  display: flex;
}
header #nav #mobile-btns > * {
  flex: 50%;
}
header #nav #mobile-btns .btn {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  border-radius: 0;
  font-size: 15px;
  min-width: auto;
  color: #000;
  text-transform: uppercase;
}
header #nav #mobile-btns .btn span {
  width: 100%;
  font-size: 28px;
}
header #nav #mobile-btns .phone, header #nav #mobile-btns .btn {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 70px;
}
header #nav #mobile-btns .phone span, header #nav #mobile-btns .btn span {
  width: 100%;
}
header #nav #mobile-btns .phone {
  background-color: #122039;
  color: #fff;
  font-size: 20px;
  line-height: 1.3;
}
header #nav #mobile-btns .phone span {
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}

.phone {
  color: #C6A35F;
  font: 700 30px/30px "Karla", sans-serif;
  display: block;
  letter-spacing: 0.5px;
}
.phone:hover {
  color: #122039;
}
.phone span {
  display: block;
  color: #000;
  font-size: 18px;
}

#nav {
  display: flex;
  max-width: 1400px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding: 2px;
  position: relative;
}
#nav a {
  color: #000;
  text-align: left;
}
#nav .spacer {
  flex-basis: 25%;
}
#nav .header-buttons {
  margin: 0;
  padding: 7px 10px;
  font-size: 14px;
  letter-spacing: normal;
}
#nav .header-buttons .btn, #nav .header-buttons .btn-alt {
  font-size: 12px;
  letter-spacing: 1.2px;
  border: none;
  width: 200px;
  margin: 2px;
  padding: 10px;
  min-width: 160px;
  text-transform: uppercase;
  border-radius: 15px;
}
#nav .header-buttons .btn span, #nav .header-buttons .btn-alt span {
  font-size: 25px;
  letter-spacing: normal;
}

.fix-nav header {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-name: slideIn;
  z-index: 10000;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
}
.fix-nav header .logo {
  max-height: 120px;
  margin-bottom: 0;
}
.fix-nav header .logo img {
  max-height: 120px;
  margin-bottom: 0;
}

p.big {
  color: #000;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: normal;
  color: #000 !important;
}

/*Use it or Lose it Page*/
.reorder-top {
  display: block;
}

.smile .top .big {
  color: #000;
  font-size: 25px;
  line-height: 35px;
  font-weight: normal;
  letter-spacing: normal;
}

.bg-1 {
  background-color: #fff;
  padding: 10px;
}

.bg-2 {
  background-color: #122039;
  padding: 10px;
}

#actual h2 {
  font-size: 59px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  padding-bottom: 30px;
}
#actual h2:after {
  content: "";
  position: absolute;
  background-color: #122039;
  width: 150px;
  height: 3px;
  bottom: 0;
}
#actual .smile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
}
#actual .smile img {
  margin: 0 30px;
}

.smile #main-nav, .smile .mean-bar {
  display: none !important;
}

.smile .top {
  font-size: 26px;
  font-weight: 700;
  max-width: 1180px;
  margin: 70px auto 10px;
}
.smile .top h2 {
  color: #000;
  font-size: 58px;
  letter-spacing: -0.02em;
  font-weight: 500;
}
.smile .top > div {
  margin: 20px auto 60px;
}

.smile .use-banner {
  max-width: 1260px;
  margin: 50px auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
.smile .use-banner figure .big {
  font-weight: normal;
  color: #000;
  font-size: 142px;
  letter-spacing: -5px;
  line-height: 1.2;
}
.smile .use-banner figure .big span {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  display: inline-block;
}
.smile .use-banner figure h3 {
  margin: 40px auto 20px;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  letter-spacing: -0.6px;
  line-height: 1.67;
  color: #000;
}
.smile .use-banner article {
  flex: 0 1 auto;
  font-size: 26px;
  letter-spacing: -0.52px;
  position: relative;
}
.smile .use-banner article div {
  position: relative;
}
.smile .use-banner article p {
  margin-bottom: 30px;
  color: #000;
}
.smile .use-banner article .fluid-vid {
  width: 700px !important;
  max-width: 100%;
}

.use-it-top-image figcaption {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  width: 100%;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  padding: 5px;
  width: 100%;
  background-color: #fff;
  align-items: center;
  max-width: 100%;
}
.use-it-top-image figcaption span {
  padding: 10px 30px;
  color: #81B2E0;
}

.use-it-top-image p {
  color: #000;
}

.smile h1 {
  color: #C6A35F;
  font: 500 105px/1 "Recoleta", serif;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 0;
}
.smile h1 span {
  font-family: "Recoleta", serif;
}
.smile .top > .flex-ed {
  gap: 45px;
  margin-top: 40px;
}
.smile .top > .flex-ed article, .smile .top > .flex-ed figure {
  flex: 0 1 50%;
}
.smile .top > .flex-ed article {
  align-self: center;
}
.smile .top > .flex-ed article p.big {
  font-weight: normal;
  font-size: 28px;
  text-align: left;
  color: #1a1a1a;
}
.smile .top > .flex-ed figure figcaption {
  background-color: rgba(255, 255, 255, 0.9);
}
.smile .top > .flex-ed figure figcaption a {
  font-size: 20px;
}
.smile .top > .flex-ed figure figcaption a:hover {
  color: #C6A35F;
}
.smile .top > .flex-ed figure figcaption span {
  color: #000;
  margin: 0 10px;
}
.smile .content {
  max-width: 1300px;
  margin: 60px auto;
  background-color: #f0f0f0;
}
.smile .content .call {
  padding: 40px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
}
.smile .content .call article {
  flex: 0 1 815px;
}
.smile .content .call article p {
  font-weight: 400;
  font-size: 50px;
  padding: 10px;
  color: #000;
  font-family: "Recoleta", serif;
  text-align: left;
  line-height: 60px;
}
.smile .content .call article a {
  color: #C6A35F;
}
.smile .content .call article a:hover {
  color: #000;
}
.smile .content .call figure {
  flex: 0 0 400px;
  position: relative;
}
.smile .content .call figure figcaption {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  bottom: 0;
  position: absolute;
  text-transform: uppercase;
  padding: 5px 15px;
  font-weight: 700;
  font-size: 20px;
}
.smile .content .call figure figcaption a {
  color: #000;
  letter-spacing: 2px;
  font-weight: 600;
}
.smile .content .call figure figcaption a:hover {
  color: #C6A35F;
}
.smile .form {
  background-color: #f0f0f0;
}
.smile .form form {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 70px;
  padding-top: 70px;
}
.smile .form form > div {
  flex: 0 1 360px;
}
.smile .form form > div .flex-ed {
  width: 100%;
  justify-content: center;
}
.smile .form input, .smile .form textarea {
  text-align: left;
  background-color: #fff;
  height: 55px;
  color: #000;
  font-size: 20px;
  padding: 10px;
}
.smile .form .input {
  display: block;
  text-align: left;
  margin-top: 20px;
}
.smile .form input[type=checkbox] {
  height: 30px;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
}
.smile .form input[type=checkbox] + label {
  font-size: 20px;
  color: #000;
  margin-left: 5px;
  font-family: "Recoleta", serif;
}
.smile .form .big-label {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  text-align: left;
}
.smile .form .simple .btn {
  width: 100%;
  font-size: 20px;
  background-color: #4295D2;
  color: #000;
  border: none;
}
.smile .form .simple .btn:hover {
  background-color: #C6A35F;
}
.smile .form ::-webkit-input-placeholder {
  color: #000;
  font-family: "Recoleta", serif;
}
.smile .form :-moz-placeholder {
  color: #000;
  font-family: "Recoleta", serif;
}
.smile .form ::-moz-placeholder {
  color: #000;
  font-family: "Recoleta", serif;
}
.smile .form :-ms-input-placeholder {
  color: #000;
  font-family: "Recoleta", serif;
}
.smile .form textarea {
  height: 130px;
}
.smile #clockdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.smile #clockdiv .seconds-container {
  display: none;
}
.smile #clockdiv > div {
  flex: 0 1 185px;
  background-color: #f0f0f0;
  text-align: center;
  padding: 35px 10px;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.smile #clockdiv > div span {
  color: #C6A35F;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.8px;
  line-height: 1.25;
}
.smile #clockdiv > div .smalltext {
  margin-top: 30px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1;
}
.smile .use-it-very-bottom-text .big {
  color: #fff !important;
  margin-bottom: 65px;
  margin-top: 65px;
  font-weight: 700;
  font-family: "Karla", sans-serif;
  font-size: 26px;
  line-height: 40px;
}

footer :is(input, textarea) {
  background-color: #f0f0f0 !important;
}

.factors {
  margin: 0 auto 50px;
}
.factors h2 {
  color: white;
  font: 700 31px/1 "Karla", sans-serif;
  background: #122039;
  padding: 25px 15px;
  margin: 0;
}
.factors h2 span {
  font-size: 52px;
  margin: 0 10px;
}
.factors [class*=row] > div {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 300px;
  padding: 20px;
}
.factors [class*=row] > div:nth-of-type(odd) {
  background: rgba(4, 120, 112, 0.05);
}
.factors [class*=row] p {
  font: 400 22px/26px "Karla", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.factors .flex-row svg {
  margin: auto;
}
.factors .icon {
  margin: auto;
}
.factors .icon rect, .factors .icon path {
  fill: #C6A35F;
}

.fo-form {
  max-width: 505px;
  flex: 0 1 505px;
  margin: 0 auto;
}
.fo-form .title {
  text-align: left;
}

#form {
  text-align: center;
  overflow: hidden;
  margin: 0px 0 0 auto;
  padding: 0;
  width: 100%;
}
#form .input {
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
#form input, #form textarea {
  background-color: #fff;
  color: #000;
  display: table;
  height: 44px;
  flex: 0 1 300px;
  margin: 0;
}
#form textarea {
  text-align: left;
  min-height: 100px;
}
#form .cycle-slide {
  width: 100%;
}
#form .btn-next {
  flex: 0 0 115px;
  background-color: #42c5e9;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: normal;
  height: 44px;
}
#form .btn-next:hover {
  background-color: #005CA4;
}
#form .btn {
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
}
#form .pager {
  margin-top: 20px;
  padding: 0;
  text-align: center;
  display: block;
}

#form::-webkit-input-placeholder {
  color: #000;
}

#form:-moz-placeholder {
  color: #000;
}

#form::-moz-placeholder {
  color: #000;
}

#form:-ms-input-placeholder {
  color: #000;
}

.split {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.split article {
  margin: 10px;
  flex: 0 1 510px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  gap: 15px;
}
.split h2 {
  margin-bottom: 60px;
  font-weight: normal;
  font-size: 45px;
}
.split figure img {
  position: relative;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.16);
}
.split.even figure {
  order: -1;
  margin-right: 40px;
}

/* ------------- Footer -------------- */
footer {
  overflow: hidden;
  padding: 40px 0 0;
  background-color: #000;
  background: #fff;
}
footer h2 {
  font: bold 45px/1.2 "Karla", sans-serif;
  color: #000;
  text-align: center;
  margin: 0 auto 20px;
  position: relative;
}
footer h2:after {
  content: "";
  background-color: #4295D2;
  position: absolute;
  height: 4px;
  width: 85px;
  bottom: -20px;
  right: 50%;
  transform: translate(50%);
}
footer article {
  height: 514px;
  justify-content: flex-start;
}
footer article .phy {
  font-family: "Karla", sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #000;
  margin: 10px auto;
}
footer article .phy:hover {
  color: #C6A35F;
}
footer article .phone {
  font-size: 41px;
}
footer article form {
  padding: 0 !important;
}
footer .form {
  background: none !important;
}
footer .form .simple input, footer .form .simple textarea {
  text-align: center;
  width: 80%;
}
footer .form .simple .btn {
  width: 80% !important;
}
footer .split {
  justify-content: space-evenly;
  max-width: 95vw;
  align-items: flex-start;
  margin: auto;
  margin-bottom: 30px;
  flex-flow: nowrap;
}
footer .split article {
  margin-top: 10px;
  flex: 0 1 30%;
  padding: 20px 25px 20px;
  align-items: center;
  justify-content: flex-start;
}
footer .split article:last-of-type h2 {
  margin-bottom: 40px;
}
footer .split article > span {
  margin-top: auto;
  font-size: 20px;
}
footer .split article #hours span {
  display: flex;
  font-family: "Karla", sans-serif;
  font-size: 20px;
  width: 300px;
  margin: 10px auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .split article p {
  margin-top: 20px;
  text-align: center;
  font: 400 32px/1.2 "Karla", sans-serif;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: #000;
}
footer .split article p span:first-child {
  font-size: 20px;
}
footer .split article p .phone-footer {
  color: #C6A35F;
}
footer .split article p small {
  font-size: 19px;
  line-height: 29px;
  text-transform: uppercase;
}
footer .split article p:last-of-type {
  line-height: 0.8;
}
footer .split article p strong {
  text-transform: uppercase;
  font-weight: 400;
}
footer figure {
  margin-top: 10px;
  flex: 0 1 540px;
  color: #fff;
  padding: 20px 0;
}
footer .frame {
  overflow: hidden;
  display: table;
  width: 95%;
  margin: auto;
}
footer .frame iframe {
  height: 360px;
  display: block;
  max-width: 780px;
  margin: auto;
  width: 100%;
}

figcaption {
  text-align: center;
  background: #000;
  text-transform: uppercase;
  padding: 5px;
}
figcaption span {
  font-family: "Recoleta", serif;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}
figcaption p {
  font: 400 18px/1 "Karla", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
figcaption strong {
  margin-top: 0;
  font-weight: 400;
  display: block;
  font-size: 22px;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
}
figcaption .address {
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.15em;
  font-size: 14px;
}
figcaption .address:hover {
  color: #C6A35F;
}
figcaption:hover p {
  color: #C6A35F;
}

.stamp {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(25%, -25%);
}

/* ------------- Copy -------------- */
.copy {
  margin-top: 20px;
  padding: 45px 10px;
  background-color: #fff;
  margin: auto;
  font: 400 18px/1.4 "Karla", sans-serif;
  color: #1a1a1a;
}
.copy a, .copy p {
  font: 400 18px/1.4 "Karla", sans-serif;
  color: #fff;
  letter-spacing: 0.6px;
}
.copy a {
  color: #C6A35F;
}
.copy p {
  margin: 20px auto;
  max-width: 1090px;
}
.copy a:hover {
  color: #122039;
  text-decoration: underline;
}
.copy span {
  margin: 0 2px;
}

.simple {
  margin: 0 0 5px;
}
.simple .btn {
  width: 260px;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 10px;
  border: 1px solid #C6A35F;
  background-color: #C6A35F;
  color: #fff;
  text-transform: uppercase;
}
.simple .btn:hover {
  background-color: #122039;
  color: #fff;
}
.simple input, .simple select {
  height: 35px;
}
.simple textarea {
  height: 80px;
  padding-top: 8px;
}
.simple input, .simple textarea, .simple select {
  text-align: center;
  outline: none;
  border: none;
  background-color: #121212;
  margin: 3px 0;
  width: 100%;
  padding: 3px 10px;
  font-size: 20px;
  color: #000;
}
.simple input:focus, .simple textarea:focus, .simple .btn:focus, .simple select:focus {
  box-shadow: inset 0 -3px 0 #C6A35F;
}

hr {
  border-bottom: 1px solid rgba(151, 151, 151, 0.74);
  box-shadow: 5px 1px 1px rgba(14, 14, 15, 0.35);
  margin-top: 30px;
  display: none;
}

::-webkit-input-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  color: #fff;
}

/* -- MEDIA QUERIES -- */
@media (max-width: 1300px) {
  #banner {
    background-position: 10%;
  }
  footer .split {
    flex-wrap: wrap;
  }
  footer .split figure {
    display: none;
  }
  footer .split article {
    flex-basis: 90%;
    align-items: center;
  }
  header .phy {
    display: none !important;
  }
}
@media (max-width: 1110px) {
  h1 {
    font-size: 40px;
  }
  h1 span {
    font-size: 60px;
  }
  #banner article {
    flex: 0 1 51%;
  }
}
@media (min-width: 1000px) {
  #mobile-btns {
    display: none !important;
  }
}
@media (max-width: 1000px) {
  header {
    padding: 0;
  }
  header #nav {
    padding: 0;
  }
  header #nav > * {
    gap: 0;
  }
  header #nav > .phone {
    display: none;
  }
  header #nav .logo {
    margin: 20px 0 5px;
  }
  .smile .top > .flex-ed {
    flex-wrap: wrap;
  }
  .smile .top > .flex-ed > * {
    flex: 100% !important;
  }
  .smile .top > .flex-ed article p.big {
    text-align: center;
  }
  .smile .top > .flex-ed figure figcaption a {
    font-size: 18px;
  }
  .smile .top > .flex-ed figure figcaption span {
    margin: 0 5px;
  }
  .smile .top h2 {
    font-size: 38px;
  }
  #actual .smile {
    margin: 30px auto;
  }
  #actual .smile img {
    margin: 20px 10px;
  }
  .smile .top > div {
    margin: 30px auto;
  }
  #main-form .form form > div:nth-of-type(2) {
    margin: 15px 0;
  }
  #main-form .form .simple .btn {
    margin-top: 10px;
  }
  #nav .logo {
    margin: 0;
  }
  #nav .header-buttons {
    margin: 0;
    order: 0;
    flex: 0 1 220px;
  }
  header #nav a.btn {
    display: none;
  }
  .phone {
    font-size: 30px;
    margin: 0;
  }
  hr {
    display: block;
    max-width: 95%;
  }
  .smile .use-banner article {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 40px;
  }
  .smile .use-banner article p {
    font-size: 40px;
    line-height: 1;
    margin: 10px auto;
    order: 1;
  }
  .smile .use-banner article p br {
    display: none;
  }
  .use-it-top-image div figcaption {
    position: relative;
    margin: auto;
  }
  .smile .top {
    margin: 0 auto 30px;
  }
  #contact {
    flex: 0 1 690px;
  }
  #services, #footer-form {
    flex: 1;
  }
  .double-list .flex-ed {
    flex-wrap: wrap;
    justify-content: center;
  }
  .double-list .flex-ed .option-list {
    margin: 40px auto;
  }
  footer .flex-ed {
    flex-wrap: wrap;
    max-width: 700px;
    margin: auto;
  }
  footer .split {
    justify-content: center;
    margin-bottom: 10px;
  }
  footer .split article {
    flex-basis: auto;
    flex: 1;
  }
}
@media (max-width: 890px) {
  #nav .header-buttons .btn, #nav .header-buttons .btn-alt {
    width: 180px;
  }
  #nav .logo {
    max-width: 350px;
  }
}
@media (max-width: 768px) {
  .factors .flex-row > div {
    flex-basis: 100%;
  }
  .factors [class*=row] p {
    margin-bottom: 0;
  }
  footer .split article {
    flex: 100%;
    padding: 30px 0 0;
  }
}
@media (max-width: 740px) {
  #nav .header-buttons {
    margin: 0;
    padding: 3px 5px;
  }
  #nav {
    padding-bottom: 0;
    flex-wrap: wrap;
    align-items: center;
  }
  #nav {
    justify-content: space-around;
  }
  #nav .spacer {
    display: none;
  }
  #nav .header-buttons .btn, #nav .header-buttons .btn-alt {
    padding: 10px;
  }
  [data-embed] .close, [data-vimeo] .close {
    min-width: 53px;
  }
  .smile .use-banner article {
    width: 100%;
  }
  .smile .use-banner article .fluid-vid {
    width: 100% !important;
  }
  .smile .use-banner figure .big {
    font-size: 80px;
  }
  .smile .content .call {
    display: block;
    text-align: center;
    padding-bottom: 5px;
  }
  .smile .content .call article {
    font-size: 30px;
    line-height: 1.2;
  }
  .smile .content .call article p {
    margin: 15px auto;
    text-align: center;
    line-height: 1.3;
  }
  footer h2 {
    font-size: 42px;
  }
  footer .split > div {
    margin-top: 0;
  }
  footer article {
    margin-bottom: 30px;
  }
  footer h2 {
    font-size: 40px;
    margin-top: 0;
    padding: 0 10px;
  }
  footer article {
    padding-top: 20px;
    height: auto;
  }
  footer article p {
    font-size: 32px;
    margin-top: 5px;
  }
  footer figure {
    margin-top: -10px;
  }
  .frame {
    max-width: 98%;
    margin: auto;
  }
  figcaption {
    margin-top: 0;
  }
  .copy {
    padding: 30px 10px 20px;
  }
  .smile .use-banner article .fluid-vid {
    width: 500px !important;
  }
  .smile .use-banner {
    margin: 10px auto;
  }
  .smile .use-banner article {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .bg-1 {
    padding: 10px;
  }
  .mobile-bg h1 {
    font-size: 62px;
    margin: 25px auto;
  }
  footer {
    padding-top: 0;
  }
  .copy {
    padding-top: 40px;
  }
  .smile .use-it-very-bottom-text .big {
    font-size: 36px;
  }
}
@media (max-width: 590px) {
  #nav {
    justify-content: center;
  }
  #nav .logo img {
    max-width: 300px;
    margin: 0 auto;
  }
  h1 span {
    font-size: 60px;
    margin: 10px auto;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    margin-top: 20px;
    font-size: 50px;
  }
  .factors h2 {
    font-size: 42px;
  }
  #services-custom {
    padding: 0;
  }
  .smile .content .call article p {
    font-size: 40px;
  }
  .upper-form form {
    flex-direction: column;
  }
  main ul li, .services ul li {
    text-align: center;
  }
  .services ul {
    max-width: 270px;
    margin: 0 auto;
  }
  #map, .map {
    display: none;
  }
  #fixed-tabs .map {
    display: block;
  }
  #landing-page-form h1 {
    font-size: 40px;
  }
  footer #contact {
    padding: 20px 10px;
  }
  footer .flex-ed {
    display: block;
  }
  #contact {
    display: none;
  }
  .copy {
    padding: 10px 10px 25px;
  }
  .smile .use-banner article .fluid-vid {
    width: 400px !important;
  }
  .double-list .flex-ed .option-list h2 {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .use-it-top-image div figcaption {
    font-size: 14px;
  }
  .double-list .flex-ed .option-list .list-body ul li {
    margin: 10px auto;
    font-size: 20px;
    padding-left: 30px;
  }
  #nav {
    gap: 10px;
  }
}
@media (max-width: 430px) {
  .split article .btn {
    margin-bottom: 20px;
    min-width: auto;
  }
  #team figure {
    display: table;
  }
  #services h3 {
    margin-top: 10px;
  }
  .copy {
    padding-bottom: 20px;
  }
  .services .flex-ed img {
    max-width: 200px;
  }
  .smile .use-banner article div figcaption span {
    padding: 5px;
  }
  .smile .use-banner article .fluid-vid {
    width: 300px !important;
  }
  .double-list .flex-ed .option-list .list-body ul li {
    margin: 10px auto;
    font-size: 17px;
    padding-left: 20px;
  }
  .double-list .flex-ed .option-list {
    margin: 15px auto;
  }
  .smile .form form {
    padding: 50px 10px;
  }
}
@media (max-width: 370px) {
  #nav {
    display: block;
  }
  #nav .btn {
    margin: 10px auto;
  }
  .use-it-top-image div figcaption span {
    padding: 10px 20px;
  }
  .double-list .flex-ed .option-list .list-body .list-bkg {
    display: none;
  }
}/*# sourceMappingURL=pep-unlock-styles.css.map */